.body1 {
    background-image: linear-gradient(135deg, #f68b1f 10%,#f68b1f 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    color: #333333;
  }
  
  .box-form {
    margin: 0 auto;
    width: 80%;
    background: #FFFFFF;
    border-radius: 10px;
  
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 20px 6px #f68b1f;
    background-size: cover;
    background-repeat: no-repeat;
   /* /* background-image:url("http://localhost:3000/images/image.jpg"); */
    
    background-position: center;
  }
  @media (max-width: 980px) {
    .box-form {
      flex-flow: wrap;
      text-align: center;
      align-content: center;
      align-items: center;
    }
  }
  .box-form div {
    height: auto;
  }
  .box-form div1 {
    height: auto;
  }
  .box-form .left {
    color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url("http://crane-six.vercel.app/images/image.jpg");
    background-position: center;
    

  }
  .box-form .left .overlay {
    padding: 30px;
    width: 100%;
    height: 100%;
    background: #f68b1f;
  
    box-sizing: border-box;
  }
  .box-form .left .overlay h1 {
    font-size: 10vmax;
    line-height: 1;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .box-form .left .overlay span p {
    margin-top: 30px;
    font-weight: 900;
  }
  .box-form .left .overlay span a {
    background: #f68b1f;
    color: #FFFFFF;
    margin-top: 10px;
    padding: 14px 50px;
    border-radius: 100px;
    display: inline-block;
    box-shadow: 0 3px 6px 1px #f68b1f;
  }
  .box-form .left .overlay span a:last-child {
    background: #1dcaff;
    margin-left: 30px;
  }
  .box-form .right {
    padding: 40px;

   
  }
  @media (max-width: 980px) {
    .box-form .right {
      width: 100%;
    }
  }
  .box-form .right h5 {
    font-size: 6vmax;
    line-height: 0;
  }
  .box-form .right p {
    font-size: 14px;
    color: #f68b1f;
  }
  
  .box-form .right .inputs {
   
  }
  .box-form .right input {
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #B0B3B9;
  }
  .box-form .right .remember-me--forget-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .box-form .right .remember-me--forget-password input {
    margin: 0;
    margin-right: 7px;
    width: auto;
  }
  .box-form .right button {
    float: right;
    color: #ffffff;
    margin:10px;
    font-size: 16px;
    padding: 10px 45px;
    border-radius: 40px;
    display: inline-block;
    border: 0;
    outline: 0;
    background:  #f68b1f;
    box-shadow: 0px 4px 20px 0px;
    background-image: #f68b1f;


    margin: 30px;
  }
  
  label {
    display: block;
    position: relative;
    margin-left: 30px;
  }
  
  label::before {
    content: ' \f00c';
    position: absolute;
    font-family: FontAwesome;
    background: transparent;
    border: 3px solid #f68b1f;
    border-radius: 4px;
    color: transparent;
    left: -30px;
    transition: all 0.2s linear;
  }
  
  label:hover::before {
    font-family: FontAwesome;
    content: ' \f00c';
    color: #fff;
    cursor: pointer;
    background: #f68b1f;
  }
  
  label:hover::before .text-checkbox {
    background: #f68b1f;
  }
  
  label span.text-checkbox {
    display: inline-block;
    height: auto;
    position: relative;
    cursor: pointer;
    transition: all 0.2s linear;
  }
  
  label input[type="checkbox"] {
    display: none;
  }


.imagegrid{

  margin-left: 8%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 8px; /* Space between grid items */
  
 margin-bottom: 5%;

}
.imagegrid  p{
  display: flex;
  background-color:#f7f7f7;
  font-size: 12px;
  border-radius: 8px;

}


.imagegrid  h5{

 
  
  padding-left: 8px; 

  
}
.imagegrid img{
  border-radius: 8px;
  width:100px;
  height: 65px;
 
}

.imagegrid1{
  background-color:#f7f7f7;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  /* Space between grid items */
  padding-left:8%;


}
.imagegrid1  p{
  display: flex;
  flex-direction: column;

  
}

.imagegrid1  img{

 

    width:96%;
    height: 250px;
    border-radius: 8px;
    
  

}


.imagegrid1  h5{

  margin: 10px;

}





.imagegrid2{

  padding-left: 8%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 30px; /* Space between grid items */
  padding-right: 8%;
 
  


}
.imagegrid2  p{
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color:#f7f7f7;

}


.imagegrid2  h5{

 
  border-left: 3px solid #B0B3B9; 
  padding-left: 10px; 

  
}

  /* src/components/LandingPage.css */
  @media screen and (max-width: 440px) {


    .imagegrid{

      
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
      gap: 0px; /* Space between grid items */
      padding: 0px;

    
    }

    .imagegrid1{
    
    
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
      gap: 2px; /* Space between grid items */
      padding: 8%;
      
    
    
    }

    .imagegrid2{

      margin-left: 4%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 30px; /* Space between grid items */
      padding: 1px;
      padding-left: 10px;   
    }

    .imagegrid2 p {

      margin:-2%;
     
    }
    .imagegrid1  p{
     
      display: flex;
     margin: 0px;
      background-color:#f7f7f7;
    
    }
    .imagegrid  p{
      margin: 4px;
      padding: 3px;
      display: flex;
      background-color:#f7f7f7;
    
    }


    
.imagegrid1  img{

  margin: 10px;

    width:80px;
    height: 50px;

}



.imagegrid  img{

  margin: 10px;

    width:50px;
    height: 30px;

}

.imagegrid h5{

  font-size: 12px;
}
.imagegrid1 h5{

  font-size: 12px;
}
 }

 .am{
 
  display: flex;
  flex-direction: column;
  margin-bottom:10px ;
  
 

 }
 .head{
  background-color: rgb(0, 0, 0);
  color:#ffffff;
  display: flex;
  flex-direction: column;

  width: 100%;
 

 }


 


 



 @media screen and (max-width: 440px) {

select{
  width: 20%;
}
}


 h1{
  margin-left: 10%;
  text-align:center;
  align-items:left;
 
 }
 h3{
  margin-left: 10%;
  align-items:left;
  text-align:left;
 }
 h4{
  padding-left: 8%;
  text-align:left;
 
 }
 h2{
  padding-left: 8%;
 
  text-align:left;
 
 }
 h5{

  text-align:left;
 
 }

.imagealign{
  height: 300px;;
  color: #ffffff;
  font-size: 44px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column; 
  background-image:url("http://crane-six.vercel.app/images/image.jpg");
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
}

@media screen and (max-width: 440px) {

  .imagealign{
    height: 200px;
    width: 100%;

    color: #ffffff;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column; 
    background-image:url("http://crane-six.vercel.app/images/image.jpg");
    background-size: cover; /* Ensures the image covers the entire element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
  }
  
}

.imagealign p{
  
  margin-top :6%;
  margin-left :6%;
  margin-right :6%;
}



 









 .search-container {
   display: flex;
   justify-content: center;
   align-items: center;
  
   margin-top: 20px;
 }
 
 .search-input {
  margin: 5px;
   width: 50%;
   padding: 10px 20px;
   font-size: 16px;
   border: 2px solid #ddd;
   border-radius: 25px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease-in-out;
 }
 
 



 @media screen and (max-width: 440px) {







  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin-top: 20px;
  }
  
  .search-input {
   margin: 5px;
    width: 50%;
    padding: 10px 20px;
    font-size: 8px;
    border: 2px solid #ddd;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  

  

 }












 .nav-links {
  display: flex;
  justify-content: left;
  margin-left:5%;
  margin-right:5%;
  margin-top: 20px;
  margin-bottom: 40px;
  gap: 20px;
}
 .nav-links a {
   font-size: 1.2rem;
   font-weight: 500;
   color: #ffffff;
   margin-left:5px;
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: 1px;
   padding: 5px 7px;
   border-radius: 5px;
   transition: all 0.3s ease;
   position: relative;
 }
 
 .nav-links a::after {
   content: '';
   display: block;
   width: 0%;
   height: 2px;
   background-color:#ffffff;
   transition: width 0.3s;
   position: absolute;
   left: 0;
   bottom: 0;
 }
 
 .nav-links a:hover::after {
   width: 100%;
 }
 
 .nav-links a:hover {
   color: #000;
   background-color: #ffffff;
 }
 


 @media screen and (max-width: 440px) {
  .navbar {
    position: relative;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  /* Hamburger icon */
  .hamburger {
    width: 30%;
    display: none;
    font-size: 12px;
    cursor: pointer;
  }
  
  
  
  .nav-links li {
    margin: 0 2px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    padding: 0px;
  }
  
   .hamburger {
    display: block;
  }


  
  .nav-links {
    display: none;
    flex-direction: column;
    width: 30%;
    text-align: center;
  }

  .nav-links.open {
    position:fixed;
    top: 10px;    /* Moves down by 10px */
    left: 55px;
    display: flex;
    background-color: #000;
  }

  .nav-links li {
    margin: 1px 0;
  }

  
   
  
 }